#### Question 0:
###### write down 3-5 methods applicable to each data type. (Hint: extend, reverse, etc.

###### String

In [ ]:
string = "Python is widely used for Machine Learning. Python is a High level language"
print("String is : ", string)
print("1. string.count() : " , string.count("Python")) # counts the occurance of given word in the stirng
print("2. string.replace() : ", string.replace("Python" , "R")) # replaces the word with the given word
print("3. string.title() : ", string.title())  # Changes every first letter of a word into Uppercase
s=string.split(' ') # Breaks the string with the given seperator and returns into list
print("4. string.split() : \n", s)
print("5. join() : \n",'####'.join(s)) # joins the items of list by the given seperator into string

###### List

In [ ]:
list_1 = ["FMML",2022,8.03,"IIITH","2023"]
print("list is : ",list_1)

In [ ]:
print("1. list_1.append() : ")
list_1.append("append_function") # appends an element at the end of the list
list_1

In [ ]:
print("2. list_1.insert() : ")
list_1.insert(2,"inserted an element at 2nd index")  # inserts an element at 2nd index
list_1

In [ ]:
print("3. list_1.pop() : ")
list_1.pop() # removes element at given index by default removes last index element
list_1

In [ ]:
print("4. list_1.extend() : ")
list_1.extend("extend") # appends the element through iteration
list_1

In [ ]:
print("5. list_1.reverse() : ")
list_1.reverse() # reverses the list according to index
list_1

###### Tuple

In [ ]:
tuple_1 = ("tuple",0.22,"Avinash",2022,False,"IIITH",2022) # immutable data type
print("tuple is : ",tuple_1)
print("1. tuple_1.index(Avinash) : ",tuple_1.index("Avinash")) # Finds the first occurance index of the element
print("2. tuple_1.count(2022) : ",tuple_1.count(2022)) # counts the total occurance of the given element

###### Sets

In [1]:
set_1 = {"apple","orange","mango","apple","strawberry","orange"}
print("set_1 is : ",set_1)

set_1 is :  {'orange', 'mango', 'apple', 'strawberry'}

In [2]:
print("1. set.add() : ")
set_1.add("banana") # adds the element at any index 
set_1

1. set.add() :

{'apple', 'banana', 'mango', 'orange', 'strawberry'}

In [3]:
print("2. set.remove() : ")
set_1.remove("orange") # removes the element from the set
set_1

2. set.remove() :

{'apple', 'banana', 'mango', 'strawberry'}

In [4]:
set_2={"summer","winter","autumn"}
print("set_2 is : ",set_2)
print("3. set.union : ")
set_1 = set_1.union(set_2) # Joins two sets
set_1

set_2 is :  {'winter', 'autumn', 'summer'}
3. set.union :

{'apple', 'autumn', 'banana', 'mango', 'strawberry', 'summer', 'winter'}

In [5]:
print("4. set.pop() : ")
set_1.pop() # Output the last index element

4. set.pop() :

'autumn'

In [6]:
print("5. set.clear : ")
set_1.clear() # empty the set completely
set_1

5. set.clear :

set()

###### Dictionary

In [15]:
dictionary={"name":"Avinash","roll no":20220090,"Batch":"FMML","year":2022}
print("dictionary is : ",dictionary)

dictionary is :  {'name': 'Avinash', 'roll no': 20220090, 'Batch': 'FMML', 'year': 2022}

In [13]:
print("1. dictionary.get() : ",dictionary.get("name"))
# Returns the value at the specified key

1. dictionary.get() :  Avinash

In [14]:
print("2. dictionary.update() : ")
dictionary.update({"year":"3rd year"}) # inserts the new key-value pair
dictionary

2. dictionary.update() :

{'name': 'Avinash', 'roll no': 20220090, 'Batch': 'FMML', 'year': '3rd year'}

In [20]:
print("3. dictionary.items() : \n",dictionary.items())
# returns a dictionary of lists with key-value pairs as tupples

3. dictionary.items() :
 dict_items([('name', 'Avinash'), ('roll no', 20220090), ('Batch', 'FMML'), ('year', 2022)])

In [22]:
print("4. dictionary.keys() : \n",dictionary.keys())
# returns a dictionary of list of keys

4. dictionary.keys() :
 dict_keys(['name', 'roll no', 'Batch', 'year'])

In [23]:
print("5. dictionary.values() : \n",dictionary.values())
# returns a dictionary of list of values

4. dictionary.keys() :
 dict_values(['Avinash', 20220090, 'FMML', 2022])

#### Question 1 :

##### Define a function, which takes in two strings A and B. Reverses the first string A, adds it to B, and returns the final string.

In [ ]:
def reversed_string(string_a,string_b):
    rev_string_a = string_a[::-1]
    final_string = rev_string_a + string_b
    return final_string

print("Final string is : ",reversed_string("FMML","2022"))


#### Question 2 : 
##### Given a list having Names, work_hours, and gender, Write a function to print name of the female worker that worked the most hours. Also how much do should she be paid if the pay is $ 20 per hour.

##### work_hours = [('Abby',100 , 'F'),('Billy',400, 'M'),('Cassie',800,'F'), ('Maggi',600,'F'),('Alex',500,'M'),('Raj',225,'M'),('Penny',920,'F'),('Ben',300,'M')]

##### Answer : the female worker that worked the most hours is Penny and she should be paid 18400

In [ ]:
def female_worker(list_worker):
    female_list=[]
    max_hour_female_name=""
    for i in list_worker:
        gender=i[2]
        if gender == "F":
            name=i[0]
            work_hour=i[1]
            female_tuple = tuple((name,work_hour))
            female_list.append(female_tuple)
    max_hour = female_list[0][1]
    for j in range (0,len(female_list)):
        if max_hour < female_list[j][1]:
            max_hour = female_list[j][1]
    for k in range(0,len(female_list)):
        if max_hour == female_list[k][1]:
            max_hour_female_name = female_list[k][0]
    amount_paid = max_hour*20
    return print("The female worker that worked the most hours is" ,
                 max_hour_female_name, "and she should be paid" ,amount_paid)

In [ ]:
female_worker([('Abby',100 , 'F'),('Billy',400, 'M'),('Cassie',800,'F'), ('Maggi',600,'F'),
              ('Alex',500,'M'),('Raj',225,'M'),('Penny',920,'F'),('Ben',300,'M'),('Shradha',50 , 'F')])

#### Question 3 : 

##### a)Create a 5x5 matrix of the following form, 

##### [[1,1]
#####  [2,2]]

#####  i.e. each row is increasing and has repetive elements.

######  Hint : you can use hstack, vstack  etc.

##### b) find dot product of the matrix with any matrix. (Figure out the size/ shape of the matrix)

In [ ]:
import numpy as np

In [ ]:
arr_1=[]
arr_2=[]
x = int(input("Enter a number for 1st row : "))
for i in range(x,x+5):
    arr_1 = [i]*5
    arr_2.append(arr_1)
arr = np.array(arr_2)
print("\n Created array : \n",arr)
random_arr = np.arange(0,25).reshape((5,5))
print("\n Random array : \n",random_arr)
product = np.dot(arr,random_arr)
print("\n Product is : \n",product)